@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
  margin-left: 30px;
  padding: 10px 16px;
  text-transform: uppercase;
  background: #101010;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
}

.vScreen {
  min-height: calc(100vh - 138px);
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.blur {
  filter: blur(5px);
}

.pink {
  background: #FFCAD7;
}

.gray {
  background: #E2D4FF;
}

.yellow {
  background: #FDD469;
}

.green {
  background: #9FF8AD;
}
