@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-tinos {
    font-family: 'Tinos', serif;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
}

.primary-btn {
  margin-left: 30px;
  padding: 10px 16px;
  text-transform: uppercase;
  background: #101010;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
}
